@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-family: 'Savate', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 50px 80px;
  width: 100%;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}